<div class="cart__ctas">
  <a id="yakk-cart-btn" href="{{ settings.yakk_page.url }}" class="button button--primary">
    {{ settings.yakk_btn_text }}
  </a>
</div>
<style>
  #yakk-cart-btn {
    margin: 1rem auto;
    width: 100%;
    background-color: {{ settings.yakk_btn_bg_color }};
    color: {{ settings.yakk_btn_txt_color }};
  }
</style>