<div class="cart__ctas">
  <a id="yakk-cart-btn" href="{{ settings.bulk_gifting_page.url }}" class="button button--primary">
    {{ settings.bulk_gifting_btn_text }}
  </a>
</div>
<style>
  #yakk-cart-btn {
    margin: 1rem auto;
    width: 100%;
    background-color: {{ settings.yakk_btn_bg }};
    color: {{ settings.yakk_btn_text }};
  }
</style>